/*Colour Palette*/
$purple: #400082;
$teal: #00bdaa;
$light-teal: #70cbc2;
$pink: #fe346e;
$light-pink: #ff93b2;
$light-blue: rgb(115, 189, 213);
$sand: #f1e7b6;
/*Fonts*/
$default: "Kiwi Maru", serif;
$Japanese-handwritten: "Klee One", "Kiwi Maru", cursive;
