@import "themes.scss";

%default-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

%default-English-font {
	font-size: 1em;
	font-family: $default;
	font-weight: 400;
	text-align: left;
	color: black;
}

%default-heading {
	font-size: 2.7em;
	font-family: $default;
	font-weight: 800;
	text-align: left;
	color: $purple;
}

%default-subheading {
	@extend %default-English-font;
	color: $purple;
	font-size: 2em;
}

%default-section-heading {
	@extend %default-English-font;
	margin: 1.8em 0em 1em;
	color: $purple;
	font-weight: 700;
	font-size: 2em;
}

%default-page-subheading {
	color: $purple;
	background-color: white;
	border-radius: 1px;
	font-size: 1.5em;
	margin: 1em 0em 0.5em;
	padding: 0.2em 0.2em 0.3em;
}
