@use "./../back-to-main.scss";
@use "./../defaults.scss";
@import "./../themes.scss";

* {
	margin: 0;
	padding: 0;
}

body {
	@extend %default-display;
	width: 100%;
	background-color: $light-teal;
}

a:hover {
	color: $pink;
}

main {
	@extend %default-display;
	color: $purple;
	font-family: $default;
	width: 95%;
	& img {
		min-width: 70%;
		max-width: 800px;
	}
}

.headings {
	width: 100%;
	&--main {
		@extend %default-display;
		@extend %default-English-font;
		@extend %default-heading;
		align-items: flex-start;
		margin-top: 0.5em;
	}
	&--grammar {
		@extend %default-page-subheading;
		position: relative;
		z-index: 15;
	}
	&--table {
		@extend %default-page-subheading;
		position: relative;
		z-index: 15;
		margin-bottom: -0.2em;
	}
}

.para {
	background-color: $light-teal;
	position: relative;
	z-index: 15;
	margin-top: 1em;
	margin-bottom: 2em;
	width: 100%;
	&--grammar-section {
		margin: -1em 0em;
		padding: 1em 0em;
	}
	&--vocab-section {
		margin: -0.2em 0em;
		padding: 1.2em 0em;
	}
}

.grammar-table {
	width: 100%;
	background-color: white;
	color: black;
	margin: 1em 0em 4em;
	text-align: center;
	border: 0.25em solid $purple;
	font-family: $Japanese-handwritten;
	font-weight: 400;
	position: relative;
	z-index: 15;
	& th {
		font-family: $default;
		padding: 0.25em 0em;
	}
	&__english-headers {
		background-color: lightblue;
		color: $purple;
		padding-left: 1em;
		text-align: left;
		font-family: $default;
	}
	&__spans {
		&--removed-char {
			text-decoration: line-through;
			color: $light-pink;
		}
		&--extra-char {
			color: rgb(255, 149, 0);
			font-weight: 600;
		}
		&--target-grammar {
			color: $light-blue;
			font-weight: 600;
		}
	}
}

.visible-col-dropdown {
	width: 100%;
	display: flex;
	align-items: center;
	justify-items: flex-start;
	&__para {
		margin: 1em 0em 0.5em;
	}
	&__icon {
		margin: 0em 0.5em;
		position: relative;
		top: 4px;
		cursor: pointer;
		&--down {
			display: inline-block;
		}
		&--up {
			top: 7px;
			display: none;
		}
	}
	&--expanded {
		width: 100%;
		display: none;
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 1em;
	}
}
.checkbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
#inputPreview {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.checkbox + label {
	position: relative;
	font-size: 14px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	height: 20px;
	color: $purple;
}

.checkbox + label::before {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	width: 20px;
	height: 20px;
	background-color: white;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(204, 204, 204);
	border-radius: 2px;
	box-shadow: none;
}
.checkbox:checked + label::after {
	content: " ";
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZGUxZmNiIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: center center;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0px;
	left: 0px;
	top: 0px;
	text-align: center;
	background-color: transparent;
	font-size: 10px;
	height: 20px;
	width: 20px;
}

.vocab-table {
	font-family: $Japanese-handwritten;
	font-weight: 600;
	font-size: 1em;
	background-color: $light-teal;
	z-index: 19;
	position: relative;
	padding: 1em 0em 1em;
	width: 100%;
	&__header-row {
		background-color: $purple;
		color: #fff;
		font-family: $default;
		font-weight: bold;
		border: 1px solid $purple;
		position: sticky;
		top: 0;
		z-index: 20;
	}
	& tr {
		&:hover td {
			background-color: $sand;
		}
	}
	& td {
		padding: 4px;
		border: 1px solid $purple;
		background-color: white;
	}
	&__irregular-category-verb {
		color: $pink;
	}
}

.header-item {
	position: relative;
	padding: 0.6em 0.2em;
	&--english {
		min-width: 150px;
		max-width: 0.3vw;
	}
	&--hiragana {
		min-width: 150px;
	}
	&--kanji {
		min-width: 100px;
	}
	&__sort-btn {
		border: none;
		background-color: white;
		color: $pink;
		font-family: $default;
		font-weight: bold;
		font-size: 1.1em;
		padding: 0.01em 0.2em;
		position: absolute;
		&--english {
			right: 0.2em;
			top: 0.5em;
			bottom: 0.5em;
		}
		&--hiragana {
			right: 0.2em;
			top: 0.5em;
			bottom: 0.5em;
		}
		&:hover {
			background-color: $pink;
			color: white;
		}
	}
}
